name: Check Release
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Build package
        run: |
          pip install build
          python -m build

      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: jupyterlab_file_browser_sorting_extension-dist-${{ github.run_number }}
          path: dist/
